.container {
  display: grid;
  grid-template-columns: auto 1fr;

  & > div:first-child {
    display: grid;
    grid-template-rows: auto 1fr;
    border-right: 2px solid gray;
    padding: 10px;
  }
  & > div:last-child {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 0 10px;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }
    & > div:first-child {
      border-bottom: 2px solid gray;
    }
    & > div:nth-child(2) {
      border-bottom: 2px solid gray;
    }
  }
}

.set-card {
  width: 100%;
}

.actions-container {
  display: grid;
  grid-template-rows: auto auto;

  div:first-child {
    justify-self: center;
    padding: 10px 0;
  }
  .action-buttons-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 100%;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
