<div class="container">
  <div>
    <h3>About</h3>
    Demonstrate your proficiency in Splatoon by achieving consecutive victories
    with every weapon in the game. The challenge requires participants to
    restart and replay with previously conquered weapons upon any defeat.

    <h4>Rules</h4>
    <ol>
      <li>
        Weapons are assigned randomly for each match. Gear equipment is also
        chosen randomly and can only be used once.
      </li>
      <li>
        Players commence with 1 life and earn an additional life for every 10
        victories achieved.
      </li>
      <li>
        A win must be secured with the randomly chosen weapon and gear before
        proceeding to the next one.
      </li>
      <li>
        In the event of a loss, participants must return to the beginning and
        replay with the weapons and gear they have already triumphed with.
      </li>
      <li>
        This process continues until a victory is obtained with every weapon in
        the game.
      </li>
    </ol>
    <h4>Conditions</h4>
    <ul>
      <li>
        Skipping weapons or gear is not permitted; each must be used to achieve
        a victory.
      </li>
      <li>
        Progress can be tracked on our dedicated website, where players are
        encouraged to share their achievements with the community.
      </li>
    </ul>
  </div>
  <div class="metallic-effect"></div>
</div>
