<footer>
  <p>
    This website is not affiliated with Nintendo. All product names, logos, and
    brands are property of their respective owners.
  </p>
  <p>
    Webpage created by TheHeftier. Powered by Angular. Challenge created by
    <a href="https://x.com/Sohakmet" target="_blank">Sohay0</a>.
  </p>
  <p>
    Feedback or suggestions are welcome. Please contact me via
    <a href="https://x.com/theheftier" target="_blank">Twitter</a> or
    <a href="https://github.com/TheHefty" target="_blank">Github</a>.
  </p>
</footer>
